<% layout("layout") -%>
<div class="jumbotron text-center" style="padding: 0; margin: 0;">
    <h2 style="padding: 2% 0">Login to Takoda</h2>
    <div class="btn-group">
        <a class='btn btn-linkedin disabled'><i class="fa fa-linkedin" style="width:16px; height:20px"></i></a>
        <a class='btn btn-linkedin' href='/linkedin' style="width:12em;"> Sign in with LinkedIn</a>
    </div>
    <br /><br />
    <div class="btn-group">
        <a class='btn btn-google-plus disabled'><i class="fa fa-google-plus" style="width:16px; height:20px"></i></a>
        <a class='btn btn-google-plus' href='/google' style="width:12em;"> Sign in with Google</a>
    </div>
    <br /><br />
    <div class="btn-group">
        <a class='btn btn-facebook disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
        <a class='btn btn-facebook ' href='/facebook' style="width:12em"> Sign in with Facebook</a>
    </div>
    <br /><br />
    <div class="btn-group">
        <a class='btn btn-twitter disabled'><i class="fa fa-twitter" style="width:16px; height:20px"></i></a>
        <a class='btn btn-twitter ' href='/twitter' style="width:12em"> Sign in with Twitter</a>
    </div>
    <!--<div class="btn-group">
            <a class='btn btn-primary disabled'><i style="width:16px; height:20px"></i></a>
            <a class='btn btn-primary ' href='/salesforce' style="width:12em"> Sign in with Salesforce</a>
        </div> -->
</div>