<!doctype html>
<html>
<head>
    <title>Gatekeeper Authentication</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/social-buttons.css">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  
    <%- body %>
      
</div>
</body>
</html>